<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Design by foolishdeveloper.com -->
    <title>Login</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.2/css/all.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <!--Stylesheet-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/passwordResult.css}" />
</head>
<body>
<div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
</div>
<form action="/customer_authentication/login" method="post">
    <h3>Login</h3>

    <h3><a href="/customer_authentication/login"><i id="homeIcon" class="fa-solid fa-house "></i></a></h3>

    <label for="email">Email</label>
    <input type="text" placeholder="Email" name="email" id="email">

    <label for="password">Password</label>
    <input type="password" placeholder="Password" name="password" id="password">

    <label th:text="${result}"></label>

    <button type="submit">Login</button>
    <p><a href="/customer_authentication/changePassword">Change password</a></p>
    <p><a href="/customer_authentication/forgot-pass">Forgot password?</a></p>
    <p>Don't have an account? <a href="/customer_authentication/register">Register here</a></p>

</form>
<script>
    var homeIcon = document.getElementById("homeIcon")
    homeIcon.addEventListener('mouseenter',()=>{
        homeIcon.classList.add("fa-bounce")
    })
    homeIcon.addEventListener('mouseleave',()=>{
        homeIcon.classList.remove("fa-bounce")
    })
</script>
</body>
</html>
