<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Design by foolishdeveloper.com -->
    <title>Change Pasword</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <!--Stylesheet-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/passwordResult.css}" />
</head>
<body>
<div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
</div>
<form th:controller="customer_authentication" th:action="changePassword" method="post">
    <h3>Change Password</h3>

    <label for="email">Email</label>
    <input type="text" placeholder="Email" name="email" id="email">

    <label for="password">Password</label>
    <input type="password" placeholder="Password" name="oldPassword" id="password">

    <label for="newPassword">New password</label>
    <input type="password" placeholder="New Password" name="newPassword" id="newPassword">

    <label th:text="${result}"></label>

    <button type="submit">Change Password</button>
    <p><a href="/customer_authentication/login">Login</a></p>
    <div class="social">
        <div class="go"><i class="fab fa-google"></i>  Google</div>
        <div class="fb"><i class="fab fa-facebook"></i>  Facebook</div>
    </div>
</form>
</body>
</html>
